body {
    font-family: "Open Sans";
    color: white;
    background-image: url("imgs/tile1.gif");
    background-repeat: repeat;
}

h1 {
    font-size: 6vw;
    text-align: center;
}

header {
    padding-top: 40px;
    font-size: 4vw;
    text-align: center;
    font-weight: 800;
}

header.sub {
    padding-top: 0px;
    font-size: 2vw;
    text-align: center;
    font-weight: 600;
}

.item {
    width: 80%;
    margin: 0 auto;
}

.item h3 {
    margin: 0px;
    padding: 0px;
    font-size: 3vw;
    text-align: center;
}

.inline {
    display: inline-block;
    vertical-align: middle;
    width: 32%;
}

.inline.price {
    font-size: 8vw;
    text-align: center;
    font-weight: 600;
    transform: rotate(45deg);
    color: #00ff00;
    margin: 0px;
    padding: 0px;
}

.inline.links a {
    font-size: 2vw;
    text-decoration: none;
    color: yellow;
}

.inline.links h5 {
    font-size: 2vw;
    margin: 5px 0px;
}

.item_image {
    width: 100%;
    border-radius: 10px;
}
